body {
	margin: 0;
	padding:0;
	overflow-x: hidden;
	
	background: #F2F2F2;
}

a {
	text-align: center;
	display: inline;
	font-size: 18px;
	font-family: Lato;
	color: #000;
	text-decoration: none;
	font-weight: 400;
}

.title-black{
	font-family: Lato;
	font-size: 16px;
	font-weight: 800;
	color: #0d0c0c;
	text-transform: uppercase;
}

.title-orange{
	font-family: Lato;
	font-size: 36px;
	font-weight: 800;
	color: #f2594b;
	line-height: 36px;
}

.subtitle{
	font-family: Lato;
	font-size: 20px;
	font-weight: 400;
	color: #0d0c0c;
	line-height: 36px;
}

span{
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	color: #3d3d3d;
	line-height: 28px;
}

.slide-title{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 800;
	font-size: 22px;
	line-height: 24px;
}

.footer-text{
	font-family: Lato;
	font-size: 11px;
	font-weight: 400;
	color: #f2f2f2;
	line-height: 18px;
}

.container {
	display: grid;

	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 74px 537px 564px 383px 480px 221px 42px;

}

header {
	background: white;
	grid-column-start: 1;
	grid-column-end: 13;
	
	z-index:10;
}

ul{
	list-style:none;
	padding: 0;
	margin: 0;
}

li{
	list-style:none;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.nav-menu{
	position: relative;
	top: 12px;
	right: 150px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	gap: 20px;
}

.nav-logo{
	position: relative;
	left: 111px;
	top: 18px;
}

.nav-link{
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.nav-link:hover{
	color: #F25757;
}

.hamburger{
	display: none;
	cursor: pointer;
}

.bar{
	display:block;
	width: 32px;
	height: 2px;
	margin: 9px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #000;
}

@media only screen and (max-width: 768px){
	.nav-logo{
		position: relative;
		left: 32px;
		top: 15px;
	}
	
	.hamburger{
		display: block;
		position:relative;
		top: 17px;
		right: 48px;
	}
	
	.hamburger.active .bar:nth-child(2){
		opacity: 0;
	}
	
	.hamburger.active .bar:nth-child(1){
		transform: translateY(11px) rotate(45deg);
	}
	
	.hamburger.active .bar:nth-child(3){
		transform: translateY(-11px) rotate(-45deg);
	}
	
	.nav-menu{
		position:absolute;
		left:-100%;
		top: 73px;
		gap: 0;
		flex-direction: column;
		background-color: white;
		width: 100%;
		text-align: center;
		transition: 0.3s;
		
		border-top: solid 1px;
		border-top-color: #8c3b3b;
		
		box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.5);
	}
	
	.nav-item{
		margin: 16px 0;
	}
	
	.nav-menu.active{
		left: 0;
	}
}

main {
	grid-column-start: 1;
	grid-column-end: 13;
	
	background: url(img/mountain.png);
	background-repeat: no-repeat;
	background-size: cover;
}


#box{
	position: absolute;
	width: 506px;
	height: 188.55px;
	left: 152px;
	top: 255px;
	
	padding: 32px;

	background: #FFFFFF;
}

#content1 {
	background: #F2F2F2;
	grid-column-start: 1;
	grid-column-end: 13;
	
	align-self: center;
}

.slidebox{
	display: grid;

	grid-template-columns: repeat(3, 250px);
	grid-template-rows: 266px;

	justify-content: center;

	grid-gap: 80px;
}

#slide1 {
	background: #fff;
	box-shadow: 0px 0px 25px rgba(0, 78, 144, 0.1);
	
	text-align: center;
	padding: 0 20px;
	
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#slide1:hover{
	transform:scale(1.1);
}

#slide2 {
	background: #fff;
	box-shadow: 0px 0px 25px rgba(0, 78, 144, 0.1);
	
	text-align: center;
	padding: 0 20px;
	
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#slide2:hover{
	transform:scale(1.1);
}

#slide3 {
	background: #fff;
	box-shadow: 0px 0px 25px rgba(0, 78, 144, 0.1);
	
	text-align: center;
	padding: 0 30px;
	
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#slide3:hover{
	transform:scale(1.1);
}

#content2 {
	background: #F2F2F2;
	grid-column-start: 3;
	grid-column-end: 5;
	
	align-self: center;
	
	margin-left:21px;
}

#content3 {
	background: #F2F2F2;
	grid-column-start: 5;
	grid-column-end: 11;
	
	align-self: center;
	
	margin-left:88px; 
	margin-right:40px;
}

#content4 {
	background: #F2F2F2;
	grid-column-start: 3;
	grid-column-end: 9;
	
	align-self: start;
	
	margin-top:65px;
	margin-right: 35px;
}

#content5 {
	background: #8c3b3b;
	grid-column-start: 1;
	grid-column-end: 13;
	
	border-top: solid 5px #f25757;
}

.footer1{
	display: grid;

	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr 1fr;

	justify-content: center;
	align-items: center;
	
	height: 221px;
}

#footer1-logo{
	grid-column-start: 2;
	grid-column-end: 5;
	
	align-self: end;
}

#footer1-text{
	grid-column-start: 2;
	grid-column-end: 5;
	
	margin-top: 12px;
	
	align-self: start;
}

#footer1-contatti{
	grid-column-start: 8;
	grid-column-end: 10;
	
	grid-row-start: 1;
	grid-row-end: 3;
	
	margin-top: 65px;
	align-self: start;
}

#footer1-social{
	grid-column-start: 10;
	grid-column-end: 12;
	
	grid-row-start: 1;
	grid-row-end: 3;
	
	margin-top: 65px;
	align-self: start;
}

footer {
	background: #0d0c0c;
	grid-column-start: 1;
	grid-column-end: 13;
}

.footer2{
	display: grid;

	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr;

	justify-content: center;
	align-items: center;
	
	height:42px;
}

#footer2-copyright{
	grid-column-start: 2;
	grid-column-end: 5;
}

#footer2-privacy{
	grid-column-start: 8;
	grid-column-end: 9;
	
	
}

#footer2-cookie{
	grid-column-start: 9;
	grid-column-end: 10;
	
	justify-self: end;
}

#footer2-termini{
	grid-column-start: 11;
	grid-column-end: 12;
}

@media only screen and (max-width: 768px) {
	
	.mobile-centered{
		text-align: center;
	}
	
	.container {
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 74px 537px 1257px 170px 308px 660px 343px 177px;
	}
  
	.slidebox{
	grid-template-columns: 0.65fr;
	grid-template-rows: 266px 266px 266px;

	grid-gap: 64px;
	}
	
	main {
		background-position: 50%;
}
	
	#box{
		position: absolute;
		height: 339px;
		width:auto;
		left: 6.5%;
		right: 6.5%;
		top: 133px;
		
		padding: 70px 0px 0px 20px;

	}
	
	#content1{
		margin-right: 5%;
		margin-left: 5%;
	}
	
	#content2 {
		grid-column-start: 1;
		grid-column-end: 5;
		
		justify-self: center;
		text-align:center;
		
		margin-right: 7%;
		margin-left: 7%;
	}

	#content3 {
		grid-column-start: 1;
		grid-column-end: 5;
		
		justify-self: center;
		
		margin-right: 8%;
		margin-left: 8%;
	}

	#content4 {
		grid-column-start: 1;
		grid-column-end: 5;
		
		justify-self: center;
		
		margin-top:70px;
		
		margin-right: 8%;
		margin-left: 8%;
	}

	#content5 {
		margin-top: 64px;
	}

	.footer1{
		display: grid;

		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 1fr;

		justify-content: center;
		align-items: center;
		
		height: 279px;
	}

	#footer1-logo{
		grid-column-start: 1;
		grid-column-end: 3;
		
		align-self: center;
		justify-content: center;
		
		margin: 0 0 0 25px;
	}

	#footer1-text{
		grid-column-start: 3;
		grid-column-end: 5;
		
		align-self: center;
		justify-content: center;
		
		margin: 0 0 0 0;
	}

	#footer1-contatti{
		grid-column-start: 1;
		grid-column-end: 3;
		
		grid-row-start:2;
		grid-row-end:3;
		
		align-self: start;
		justify-content: center;
		
		margin: 25px  0 0 25px;
	}

	#footer1-social{
		grid-column-start: 3;
		grid-column-end: 5;
		
		grid-row-start:2;
		grid-row-end:3;
		
		align-self: start;
		justify-content: center;
		
		margin: 25px 0 0 0;
	}

	footer {
		background: #0d0c0c;
		grid-column-start: 1;
		grid-column-end: 13;
	}

	.footer2{
		grid-template-columns: 26px 1.3fr 1fr 70px;
		grid-template-rows: 25px 1fr 1fr 1fr 50px;
		
		height:177px;
	}

	#footer2-copyright{
		grid-column-start: 2;
		grid-column-end: 3;
		
		grid-row-start: 2;
		grid-row-end: 3;
	}

	#footer2-privacy{
		grid-column-start: 3;
		grid-column-end: 3;
		
		grid-row-start: 2;
		grid-row-end: 3;
		
		margin-left:15px;
	}

	#footer2-cookie{
		grid-column-start: 3;
		grid-column-end: 5;
		
		justify-self: start;
		
		grid-row-start: 3;
		grid-row-end: 4;
		
		margin-left:15px;
	}

	#footer2-termini{
		grid-column-start: 3;
		grid-column-end: 5;
		
		grid-row-start: 4;
		grid-row-end: 5;
		
		margin-left:15px;
	}
	
	a[href^=tel] {
		font-family: Lato;
		font-size: 11px;
		font-weight: 400;
		color: #f2f2f2;
		line-height: 18px;
		text-decoration: none;
}
  
}
